.film
	section.info
		h3= name
		time.year= year
		ul.janre-list
			each janre_item in janre
				li(data-name=janre_item.name).link-janre= janre_item.name
	.shelf
		img(src=image)
		.rating.icon-sticker= imdb_rating
	.link.seen seen