.back back

img(src=image_l)
.info
	h2= name
		.year= 'year: ' + year
		.rating= 'rating: ' + imdb_rating + ' (' + imdb_votes + ' votes)'
		ul.janre-list janres:
			each janre_item in janre
				li.janre(data-name=janre_item.name)= janre_item.name
		.runtime= 'runtime: ' + get_runtime
		div= 'theater release: ' + theater_date
		div= 'dvd release: ' + dvd_date
		article.description
			p= desc
		div director:
			ul.crew
				each director_person in director
					li.person(data-id=director_person.pk)= director_person.name
		div actors:
			ul.crew
				each actor_person in actor
					li.person(data-id=actor_person.pk)= actor_person.name + ' as ' + actor_person.get_char

		div
			a(href='http://www.imdb.com/title/tt#{imdb_id}', target='_blank') Full info on IMDB
