.link.link-back back

.content
	img.details-img(src=image_l)
	.info
		h2= name
		.year= 'year: ' + year
		.rating= 'rating: ' + imdb_rating + ' (' + imdb_votes + ' votes)'
		ul.list.janre-list janres:
			each janre_item in janre
				li.link.link-janre(data-name=janre_item)= janre_item
		.runtime= 'runtime: ' + runtime
		div= 'theater release: ' + theater_date
		div= 'dvd release: ' + dvd_date
		article.description
			p= desc
		div director:
			ul.list.crew
				each director_person in director
					li.link.link-person(data-id=director_person.id)= director_person.name
		div actors:
			ul.list.crew
				each actor_person in actor
					li
						span.link.link-person(data-id=actor_person.id)= actor_person.name
						span= ' as ' + actor_person.get_char

		div
			a(href='http://www.imdb.com/title/tt#{imdb_id}', target='_blank') Full info on IMDB
